* {
	margin: 0;
	padding: 0;
	h1, h2, h3, h4, h5, h6{
		margin: 0;
		padding: 0;
	}
}

*{
	&:focus{
		outline: none;
	}
	img{
		max-width: 100%;
	}
}

body div {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	box-sizing: border-box;
	align-items: flex-start;
}
