@font-face {
	font-family: 'aghelvetica';
	src: url('../fonts/aghelvetica.eot');
	src: local('☺'), url('../fonts/aghelvetica.woff') format('woff'), url('../fonts/aghelvetica.ttf') format('truetype'), url('../fonts/aghelvetica.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'broadway';
	src: url('../fonts/broadway.eot');
	src: local('☺'), url('../fonts/broadway.woff') format('woff'), url('../fonts/broadway.ttf') format('truetype'), url('../fonts/broadway.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "century-gothic";
	src: url('../fonts/century-gothic.eot');
	src: local('☺'), url('../fonts/broadway.woff') format('woff'), url('../fonts/CenturyGothic.ttf') format('truetype'), url('../fonts/CenturyGothic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "century-gothic-bold";
	src: url('../fonts/century-gothic-bold.eot');
	src: local('☺'), url('../fonts/CenturyGothic-Bold.woff') format('woff'), url('../fonts/CenturyGothic-Bold.ttf') format('truetype'), url('../fonts/CenturyGothic-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
