
* {
  margin: 0;
  padding: 0; }
  * h1, * h2, * h3, * h4, * h5, * h6 {
    margin: 0;
    padding: 0; }

*:focus {
  outline: none; }

* img {
  max-width: 100%; }

body div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

@charset "UTF-8";
@font-face {
  font-family: 'aghelvetica';
  src: url("../fonts/aghelvetica.eot");
  src: local("☺"), url("../fonts/aghelvetica.woff") format("woff"), url("../fonts/aghelvetica.ttf") format("truetype"), url("../fonts/aghelvetica.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'broadway';
  src: url("../fonts/broadway.eot");
  src: local("☺"), url("../fonts/broadway.woff") format("woff"), url("../fonts/broadway.ttf") format("truetype"), url("../fonts/broadway.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "century-gothic";
  src: url("../fonts/century-gothic.eot");
  src: local("☺"), url("../fonts/broadway.woff") format("woff"), url("../fonts/CenturyGothic.ttf") format("truetype"), url("../fonts/CenturyGothic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "century-gothic-bold";
  src: url("../fonts/century-gothic-bold.eot");
  src: local("☺"), url("../fonts/CenturyGothic-Bold.woff") format("woff"), url("../fonts/CenturyGothic-Bold.ttf") format("truetype"), url("../fonts/CenturyGothic-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  background: #EFEFF4;
  font-family: "aghelvetica";
  color: #000;
  overflow-x: hidden; }

a {
  text-decoration: none; }
